@import url('reset.css');
@import url('styles/addBook.css');
@import url('styles/books.css');
@import url('styles/modalWindow.css');

.main_container {
    min-height: 100vh;
    display: grid;
    background-color: #d4d4d4;
    font-family: 'Roboto';
}

/* removing the spiinners from number inputs */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
